<li id="custom-checkout-form">
    <div class="step-title" data-bind="i18n: 'Faturación'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <form name="customCheckoutForm" id="customCheckoutForm" class="form"><!---->
            <fieldset class="fieldset">
                <!--legend data-bind="i18n: '  '"></legend-->

                <!-- ko foreach: getRegion('invoice') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>

        </form>

    </div>
</li>
