<?php 
	$data = $block->getConfig();
    $_helper = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig');
?>
<?php
    $charSubset = ",latin-ext";
    $font_sizes = "%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic";
?>
<?php if (isset($data['font']['custom']) && $data['font']['custom'] && $data['font']['font_family'] == 'google'): ?>
<link rel="stylesheet" media="all" href='//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $data['font']['google_font_family']).$font_sizes; echo $charSubset; ?>' type='text/css' />
<?php endif;?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getThemeOption()?>" />
<?php if (isset($data['general']['enable_preloaded']) && $data['general']['enable_preloaded'] == 1){ ?>
<style type="text/css">
	body.eren-page-preloader:before{content:'';width:100%;height:100%;top:0;left:0;position:fixed;z-index:99999999;background:#fff;transition:opacity .5s ease, top 0s linear .5s}body.eren-page-preloader.preloaded:before{top:-100%;opacity:0}
	body.eren-page-preloader:after{content:'';border-radius:50%;width:80px;height:80px;position:fixed;border:5px solid transparent;left:50%;margin-top:-40px;margin-left:-40px;animation:aloshop-page-loader 1.1s infinite linear;z-index:999999999;transition:opacity .5s ease, top 0s linear .5s;top:50%}
	body.eren-page-preloader.preloaded:after{top:-50%;opacity:0}@keyframes aloshop-page-loader{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
	body.eren-page-preloader:after{border-left-color: #78b7c6;}
</style>
<?php } ?>