/* Less Variables */
@titlefont : 'Oswald', sans-serif;
@fontOswald: 'Oswald', sans-serif;
@bdf: 'Lato', sans-serif;
@maincolor:#78b7c6;
@bkg: #fff;
@bkgheader: #fff;
@bgHeaderMain: #303030;
@bkgfooter: #222;
@colorH2: #201f1f;
@colorLabel: #555;
@colorRate: #4e4e4e;
@colorShort: #606060;
@primaryColor: #333;
@grayColor: #eee;
@grayColorBold: #7b7b7b;
@grayColorThin: #dddddd;
@colorFollow: #888888;
@primarycolor: #606060;
@links: #373737;
@linkshover: #78b7c6;
@bordercolor :#eaeaea;
@inputtext: #fff;
@bgmenu: #343333;
@bgButtonDefault: #4a4a4a;
@colorIcon: #f0f0f0;
@colorInput: #555555;
@colorBoxSale: #c2c2c2;
@colorBoxSale2: #1f1f1f;
@colorLabel: #535353;
@colorButtonAddCart: #5b5b5b;
@colorOldPrice: #7a7a7a;
@colorOldPrice2: #797979;
@colorBorderAction: #c8c8c8;
@colorProductName: #222;
@colorBreadCrumb: #999;
@colorToolBar: #666;
@colorBorder3px: #515151;
@bgNavOwl: #dcdcdc;
@bgToolBar: #ebebeb;
@bgBockSumary: #fafafa;
@colorAttibute: #777;
@colorReadMore: #2d2d2d;
@colorPost: #2b2b2b;
@colorPostTitle: #111111;
@colorProductDetail: #383838;
@colorOwl: #ababab;
@colorBorderInput: #ccc;
@colorContactFooter: #8e8e8e;
@colorBorderInputNewsletter: #393939;
@colorMess: #666;
@bgMess: #f1f1f1;
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}