<form method="POST" action="<?php echo $this->getUrl('postcodes/grid/index'); ?>" enctype="multipart/form-data" onsubmit="return upload();"><input type="hidden" name="form_key" value="<?php echo $this->getFormKey();?>"><input type="file" name="file" id="file" class="action-default inputfile" data-multiple-caption="{count} archivo(s) seleccionado(s)"><label for="file" id="fileName"><?php echo __('Select file'); ?></label> <input type="submit" name="enviar" value="<?php echo __('Update'); ?>" class="action-primary submit"></form><script type="text/javascript">
var inputs = document.querySelectorAll('.inputfile');
Array.prototype.forEach.call(inputs, function(input)
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener('change', function(e)
	{
		var fileName = '';
		if(this.files && this.files.length > 1) {
			fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
		}
		else {
			fileName = e.target.value.split('\\').pop();
		}
		
		if(fileExtension(fileName) == 'csv' || fileExtension(fileName) == 'CSV') {
			label.innerHTML = fileName;
			label.classList.add('selected');
		} else {
			label.innerHTML = '<?php echo __('Select file'); ?>';
			label.classList.remove('selected');
		}
	});
});


function upload() {
	var label = document.querySelector('#fileName');
	if(label.classList.contains('selected')) {
		return true;
	} else {
		return false;
	}
}

function fileExtension(fileName) {
	return (/[.]/.exec(fileName)) ? /[^.]+$/.exec(fileName) : undefined;
}</script>