<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Currency switcher
 *
 * @see \Magento\Directory\Block\Currency
 */
?>
<?php if ($block->getCurrencyCount() > 1): ?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div class="switcher currency switcher-currency" id="switcher-currency<?php /* @escapeNotVerified */ echo $id?>">
    <div class="actions dropdown options switcher-options">
        <?php foreach ($currencies as $_code => $_name): ?>
			<div class="action toggle switcher-trigger <?php if ($_code == $currentCurrencyCode): ?>active<?php endif; ?>" id="switcher-currency-trigger<?php /* @escapeNotVerified */ echo $_code?>">
				<a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>'>
					<strong class="language-<?php echo $block->escapeHtml($_code) ?>">
						<span><?php /* @escapeNotVerified */ echo $_code ?></span>
					</strong>
				</a>
			</div>
		<?php endforeach; ?>
    </div>
</div>
<?php endif; ?>
