<div class="header-container">
	<div class="top-link-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="wrapper-top-header">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 top-bar">
								<?php echo $this->getChildHtml("store_switcher"); ?>
								<?php echo $this->getChildHtml("store_language"); ?>
								<?php echo $this->getChildHtml("currency"); ?>
								<?php echo $this->getChildHtml("social_header"); ?>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 end-top-bar">
								 <?php //echo $this->getChildHtml("top.search"); ?>
								 <?php //echo $this->getChildHtml("minicart");?>
								 <?php echo $this->getChildHtml("top_link"); ?>
							</div>	
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-7 col-logo">
					<?php echo $this->getChildHtml("logo"); ?>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-5 col-menu">			
					<?php echo $this->getChildHtml("minicart");?>
					<?php echo $this->getChildHtml("top.search"); ?>
					<?php echo $this->getChildHtml("top.navigation.sections"); ?>	
				</div>
			</div>
		</div>
	</div>
</div>

