<div class="top-content-home">
	<div class="wrapper-main-content clearfix">
		<div class="col-md-9 col-sm-9 col-xs-12">
			{{block class="Rokanthemes\SlideBanner\Block\Slider" slider_id="homepage6slider"}}

			<div class="section-services">
				{{block class="Magento\Cms\Block\Block" block_id="section_services"}}
			</div>
			
			<div class="section-product-tab">
				{{block class="Rokanthemes\ProductTab\Block\Producttab" template="Rokanthemes_ProductTab::producttab.phtml"}}
			</div>
			
			<div class="box-banner-middle">
				{{block class="Magento\Cms\Block\Block" block_id="banner_middle"}}
			</div>

			<div class="section-mostviewed">
				{{block class="Rokanthemes\MostviewedProduct\Block\Mostviewed" template="Rokanthemes_MostviewedProduct::mostviewed.phtml"}}
			</div>

			<div class="box-blog">
				{{block class="Rokanthemes\Blog\Block\Sidebar\Recent" template="Rokanthemes_Blog::sidebar/slider.phtml"}}
			</div>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-12 right-main-content">
			<div class="banner-top-right">
				{{block class="Magento\Cms\Block\Block" block_id="banner_top"}}
			</div>

			<div class="onsale-countdown">
				{{block class="Rokanthemes\PriceCountdown\Block\Pricecountdown" template="Rokanthemes_PriceCountdown::pricecountdown.phtml"}}
			</div>

			<div class="banner-right-middle">
				{{block class="Magento\Cms\Block\Block" block_id="banner_right_middle"}}
			</div>
			
			<div class="section-bestseller">
				{{block class="Rokanthemes\BestsellerProduct\Block\Bestseller" template="Rokanthemes_BestsellerProduct::bestseller.phtml"}}
			</div>

			<div class="section-newsletter">
				{{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Newsletter::subscribe.phtml"}}
			</div>

		</div>
		<div class="section-brands">
			<div class="container">
				{{block class="Magento\Cms\Block\Block" block_id="section_brands"}}
			</div>
		</div>
	</div>
	
</div>