<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ ?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

$_helperData = $this->helper('Rokanthemes\PriceCountdown\Helper\Data');
$timer_active = $_helperData->getConfigData('pricecountdown/general/activate_pricecountdown');
$timer_head_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_heading');
$timer_desc_active = $_helperData->getConfigData('pricecountdown/general/activate_rokanthemes_description');
$showDescriptionConfig = $_helperData->getConfigData('pricecountdown/pricecountdown_config/description');
$timer_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/text');
$desc_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/description');
$head_color = $_helperData->getConfigData('pricecountdown/pricecountdown_color/heading_text_color');
$timer_head = $_helperData->getConfigData('pricecountdown/general/heading');
$count = 1;
$_current_timer = time();

	?>
	<div class="rokan-countdown">
		<?php if($this->getConfig('title')){?>
			<div class="rokan-product-heading rokan-onsale-heading hidden"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'count_down_thumb-1';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'count_down_thumb-1';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-onslate-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			if(!$rows = $this->getConfig('items'))
				$rows = 1;
			?>	
			<div class="row">
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count(); ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li class='item onsaleproductslider-item'>"; ?>

						<div class="product-item">
								<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<div class="product-countdown">
									<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 content-countdown">
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="product-photo">
													<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
														<?php $productImageThumb = $block->getImage($_product, 'count_down_thumb');?>
														<span class="image0 image-switch">
															<?php echo $productImageThumb->toHtml(); ?>
														</span>
														<span class="image1 image-switch">
															<?php echo $productImage->toHtml(); ?>
														</span>
													</a>
													<div class="quickview-product">
														<a  data-role="quickview-button" data-id="<?php echo $_product->getId(); ?>" href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_product->getId()) ?>" title="" class="ajax diamond tooltip-hover" data-placement="top" data-original-title="<?php echo ('Quick view') ?>"><i><?php echo ('Quick view') ?></i></a>
												 	</div>
												 	<?php if ( $_product->getFinalPrice() < $_product->getPrice() ): ?>
														<span class="onsale">
															<span class="sale-bg"></span>
															<span class="sale-text"><?php echo __('Sale') ?></span>
														</span>
													<?php endif; ?>
													<?php $todayDate = time(); 
							                            $timeStartNew = strtotime($_product->getData('news_from_date'));
							                            $timeEndNew = strtotime($_product->getData('news_to_date')); ?>
							                        <?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
							                            <span class="newlabel">
							                                <span><?php echo __('New') ?></span>
							                            </span>
							                        <?php endif; ?>
												</div>		
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="product-info">
													<?php
														$_productNameStripped = $block->stripTags($_product->getName(), null, true);
													?>
													<h3 class="product-name">
														<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
															<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
														</a>
													</h3>
													
													<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>

													<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
													
													<?php if( $showDescriptionConfig && $_product->getShortDescription()): ?>
														<div class="product-description">
															<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
														</div>
													<?php endif; ?>

													<div class="count-down">
													<?php if($timer_active == 1){ ?>
													<?php $_product = $_product->load($_product->getId()) ?>
													<?php $toDate = $_product->getSpecialTODate();?>
													<?php $fromDate = $_product->getSpecialFromDate(); ?>
													<?php if(($_product->getPrice() > $_product->getSpecialPrice() || $_product->getTypeId() == 'bundle') && $_product->getTimershow() == 1) { ?>
														<?php if($_product->getSpecialPrice()!= 0 || $_product->getSpecialPrice()!= "" ) { ?>
																<?php if($timer_head_active == 'showall' || $timer_head_active == 'listpage' && $timer_head_active!='hideall' && $timer_head!= '') { ?>
																<div id="heading<?php echo $count; ?>" style="color:#<?php echo $head_color; ?>; font-size: 14px; padding-top:0px;clear: both;"><?php echo $timer_head ?></div>
																<?php } ?>
																<div id="countbox_<?php echo $count; ?>" class="timer-list"></div>
																<?php if($timer_desc_active == 'showall' || $timer_desc_active == 'listpage' && $timer_desc_active!='hideall') { ?>
																<?php
																		if($_product->getTypeId() == 'bundle')
																		{
																			echo '<h1>Discount up to '.(100 - $_product->getSpecialPrice()*1).'% </h1>';
																		}
																	} ?> 
																<script type="text/javascript">
																var DisplayFormat = "<span class='countdown-section'><span class='countdown-amount'>%%D%%</span><span class='countdown-label'><?php echo __('Days') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%H%%</span><span class='countdown-label'><?php echo __('Hrs') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%M%%</span><span class='countdown-label'><?php echo __('Mins') ?></span></span><span class='countdown-section'><span class='countdown-amount'>%%S%%</span><span class='countdown-label'><?php echo __('Secs') ?></span>";
																	var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)).' 11:59:00 PM'; ?>");
																	start = "<?php echo Date("m/d/y h:i:s A", $_current_timer); ?>";
																	start_date = Date.parse(start);
																	var dnow<?php echo $count; ?> = new Date(start_date);
																	if(CountStepper>0)
																		ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
																	else
																		ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
																	//gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
																	<?php if(strtotime($fromDate) <= $_current_timer){ ?>
																		gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
																	<?php }else{ ?>
																		gsecs<?php echo $count; ?> = -1;
																	<?php } ?>

																	var iid<?php echo $count; ?> = "countbox_<?php echo $count; ?>";
																	CountBack(gsecs<?php echo $count; ?>,"countbox_"+j, j);
																	j++;
																</script>
																<?php $count = $count + 1; ?>
																<?php
															}
														}
													} ?>
												  </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							<?php $i++;?>
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-countdown .owl").owlCarousel({
						lazyLoad: true,
						autoPlay : false,
						items : 1,
						itemsDesktop : [1199,1],
						itemsDesktopSmall : [980,1],
						itemsTablet: [768,1],
						itemsMobile : [479,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
<?php } ?>